/* body {
    background-color: blueviolet;
} */
body {
    max-width: 1600px;
    margin: 0 auto;
    /* background-color: yellowgreen; */
}

/* Shared style */
.margin-uni {
    margin-right: 120px;
    margin-left: 120px;

}

.btn-pink {
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: #E02C6D;
    border: 2px solid #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 16px;
}




/* nav CSS */

nav {
    margin-top: 87px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


ul {
    list-style: none;
    display: flex;
    gap: 34px;
}

li img,
.btn-pink img {
    width: 25px;
    height: 25px;
}

/* Hero CSS */
.Hero {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-banner {
    background-image: url(./images/Circle\ design.svg);
    background-size: cover;
}

.herohead {
    font-size: 52px;
    font-weight: 700;
}

.herodesc {
    margin-top: 16px;
    font-size: 1rem;
    font-weight: 600;
}

/* Logo Tab Style */

.logos {
    margin: 100px 165px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #E1E6ED;
    border-bottom: 2px solid #E1E6ED;
    padding: 36px;

}

/* Popular Collection Style */
.container-head {
    color: black;
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 100px, 197px;
}

.card img {
    height: 65%;
    width: 100%;
}

.card {
    padding: 17px 15px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 40px 2px rgba(0, 0, 0, 0.15);
}